.input-bar {
  border-radius: 8px;
  background-color: #F5F5F5;
  margin: 20px 30px;
  height: 60%;
}

.input-bar textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
  background-color: #F5F5F5;
  outline: none;
  resize: none;
}
